{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Check Log SSH Client</h4>
        <form class="needs-validation" novalidate="" action="/ssh_log/send" method="post">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </div>
            </div>
            {% block result %}{% endblock %}
        </form>
    </div>
</div>  

{% endblock %}